# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log
node_modules
**/.cache-loader
**/CHANGELOG.md
**/CODE_OF_CONDUCT.md
# Whitelist wp-content/themes/insperity-events and wp-content/mu-plugins/ 
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
!wp-content
wp-content/*
!wp-content/mu-plugins
!wp-content/themes
wp-content/themes/*
!wp-content/themes/samirjoza-base/
!wp-content/themes/samirjoza-base/dist
!wp-content/plugins
wp-content/plugins/*